body{
    padding: 3px;
}


h1 {
    text-align: center;
}

a {
    color: black;
    text-decoration: none;
    background-color: rgb(188, 183, 143);
    border-radius: 60%;
}
body {
    padding-left: 20px;
    background-image: linear-gradient(150deg,rgb(117, 179, 230),white)
}

.fotoelegenda {
    padding-left: 60px;
}

ul {
    line-height: 20px;
    
}



#descricao{
    
    width:fit-content;
    border-radius: 60%;
    position: absolute;
    top: 1px;
    right: 42%;
}

#nac {
    background-image: linear-gradient(to left,rgb(135, 140, 207), rgb(207, 207, 127));
    width:fit-content;
    border-radius: 60%;
}

#foto {
    float: left;
    height: 230px;
    width: 250px;
    padding: 10px;
    background-color: rgb(141, 219, 154);
}

.imagecontainer {
    height: 250px;
    position: relative;
}

#nome{
    text-align: center;
}

ul li:nth-child(odd){
    background-color: cadetblue;
}